<%- include('./partials/head') %>


<section class="container">
  <header>
    <h1 id="OurTribe-title">Our Tribe</h1>
  </header>
  <div class="paint-splash1">
    <img class="img-paint-splash1" src="/images/paint-splash-1.svg" alt="paint-splash">
  </div>
  <div class="cirkel" id="squadD">
    
    <h2  id="squadD">Squad 1D</h2>
  </div>
  <div class="cirkel"  id="squadE">
    <h2 >Squad 1E</h2>
  </div>
  <div class="cirkel"  id="squadF">
    <h2>Squad 1F</h2>
  </div>

  <h2>Students</h2>
  <ul class="ul-personen">
    <% persons.forEach(person => { %>
      <li class="li-persoon-item"><a href="./person/<%= person.id %>"><%= person.name %></li>
    <% }) %>
  </ul>
</section>



<%- include('./partials/foot') %>
